SUBSYSTEM=="usb", ATTR{idVendor}=="17cc", ATTR{idProduct}=="1700", MODE="0660", GROUP="input", TAG+="uaccess", TAG+="udev-acl", SYMLINK+="maschine%n"
KERNEL=="hidraw*", ATTRS{idVendor}=="17cc", ATTRS{idProduct}=="1700", MODE="0660", GROUP="input", TAG+="uaccess", TAG+="udev-acl"
